@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");

header a {
  color: #1f1f1f;
  text-decoration: none;
  padding: 60px;
  font-size: 30px;
}
.header-images img {
  width: 10%;
  margin: 0px 30px 0px;
}
.header-flex {
  display: flex;
}
header {
  background: url(/video/Nike_‘FREE_YOUR_MIND’.mp4);
}
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

.video-bg {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 50px 15px; */
}
.video-bg__content {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 2vw;
  text-align: center;
}
.video-bg__content__text h1 {
  color: rgb(255, 255, 255);
  font-size: 6vw;
  display: block;
  line-height: 1.2;
  top: 35%;
  text-align: center;
  position: absolute;
  width: 100%;
}
.video-bg__content__text p {
  color: rgb(255, 255, 255);
  font-size: 3vw;
  display: block;
  line-height: 1.2;
  top: 50%;
  text-align: center;
  position: absolute;
  width: 100%;
}
.welcome-wrapper {
  width: 90%;
  margin: 0 auto;
}

.welcome-content {
  display: flex;
  margin-bottom: 20%;
  position: relative;
}
.welcome-content img {
  width: 45%;
}
.welcome-content p {
  position: absolute;
  margin: 0 800px;
  width: 30%;
  top: 20%;
}
.welcome-content hr {
  position: absolute;
  width: 4%;
  margin: 0 800px;
  top: 30%;
  display: block;
  height: 1px;
  background-color: red;
}
.welcome-content h1 {
  position: absolute;
  margin: 0 800px;
  top: 35%;
  width: 30%;
}
.welcome-content span {
  position: absolute;
  margin: 0 800px;
  top: 50%;
  width: 40%;
  color: #8a8a8a;
}

.welcome-content1 {
  display: flex;
  margin-bottom: 10%;
  position: relative;
  flex-direction: row-reverse;
}
.welcome-content1 img {
  width: 45%;
}
.welcome-content1 p {
  position: absolute;
  margin: 0 900px;
  width: 30%;
  top: 20%;
}
.welcome-content1 hr {
  position: absolute;
  width: 4%;
  margin: 0 1270px;
  top: 30%;
  display: block;
  height: 1px;
  background-color: red;
}
.welcome-content1 h1 {
  position: absolute;
  margin: 0 900px;f
  top: 35%;
  width: 30%;
}
.welcome-content1 span {
  position: absolute;
  margin: 0 800px;
  top: 50%;
  width: 40%;
  color: #8a8a8a;
}
.primary:hover {
  background-color: #000000;
  box-shadow: 0 0 70px 0 rgb(0, 0, 0);
  color: white;
  transition: 0.5s;
}
.primary {
  border-radius: 30px;
  font-size: 19px;
  padding: 6px 70px;
  border-width: 1px;
  margin: 50px;
  margin-left: 170px;
}

.default:hover {
  border: 1px solid #ff0000;
  color: #ff0000;
}
.footer-container {
  background: rgb(0, 0, 0);
}
.footer-flex {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-wrapper {
  width: 75%;
  margin: 0 auto;
  padding: 0;
}
.links {
  width: 10%;
}
.links ul li {
  margin-bottom: 15px;
}
.links ul {
  line-height: 1.5em;
}
.links a {
  color: white;
  font-weight: 300px;
  text-decoration: none;
}
.footer-flex h1 {
  color: white;
}
.footer-flex p {
  text-decoration: none;
}
.end hr {
  width: 500px;
}
.links-row {
  font-size: 60%;
  color: white;
  margin: 12px 300px 0px;
}
.header-flex {
  display: flex;
  padding: 30px;
  background-color: black;
}
.header-flex a {
  color: #ffffff;
  margin: 7px;
}

.history img {
  width: 100%;
  position: relative;
}
.history p {
  margin-top: 400px 0;
  position: absolute;
  color: white;
  z-index: 1;
  top: 75%;
  text-align: center;
  width: 100%;
  font-size: 3vw;
}
.history h1 {
  margin: 0 0 0 0;
  position: absolute;
  color: white;
  z-index: 1;
  top: 64%;
  text-align: center;
  width: 100%;
  font-size: 6vw;
}
.history2 img {
  width: 100%;
  position: relative;
}
.history2 p {
  position: absolute;
  color: #fff;
  top: 200%;
  width: 50%;
  z-index: 1;
  text-align: center;
  margin: 0 45%;
}
.history2 h1 {
  position: absolute;
  color: #fff;
  top: 180%;
  width: 50%;
  z-index: 1;
  text-align: center;
  margin: 0 45%;
}
.header-flex a {
  color: #fff;
  margin: 0 7px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.header-flex img {
  width: 8%;
}
.history3 img {
  width: 100%;
  position: relative;
  transform: scale(-1, 1);
}
.history3 p {
  position: absolute;
  color: #fff;
  top: 335%;
  width: 50%;
  z-index: 1;
  text-align: center;
  margin: 0 7%;
}
.history3 h1{
  position: absolute;
  color: #fff;
  top: 315%;
  width: 50%;
  z-index: 1;
  text-align: center;
  margin: 0 7%;
}
.news-wrapper{
  text-align: center;
  width: 75%;
  margin: 0 auto;
}
.news-text hr{
  width: 56px;
  height: 5px;
  background-color: black;
  margin: 35px auto;
}

.news-cards .card{
  box-shadow: 0 0 15px 0 #999;
  background-color: white;
  width: 350px;
 border-radius: 25px;
}
.news-cards .card img{
 width: 100%;
 height: auto;
 object-fit: cover;
 margin-bottom: 0;
}
.news-cards a{
  color: #458ff6;
  text-decoration: none;
}
.cards-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 5px 0;
}

.cards-row:first-child {
  margin-bottom: 25px;
 width: 100%;

}

.card {
  box-shadow: 0 0 15px 0 #032c9c;
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 55px;
  margin: 120px 25px 25px;
  
}

.card p {
  line-height: 1.5;
}

.card img {
  width: 68px;
  margin-bottom: 10px;
}
.card-info2 h1{
color: rgb(3, 44, 156);
}
.card-info2 p{
  color: rgb(3, 44, 156);
}
.card-info2 a{
  color: rgba(0, 0, 0, 0.555);
}
.card-info3 h1{
  color: rgb(31, 109, 0);
  }
  .card-info3 p{
    color: rgb(31, 109, 0);
  }
  .card-info3 a{
    color: rgba(0, 0, 0, 0.555);
  }

  .card-info4 h1{
    color: rgb(248, 53, 134);
    }
    .card-info4 p{
      color: rgb(248, 53, 134);
    }
    .card-info4 a{
      color: rgba(0, 0, 0, 0.555);
    }


    .card-info5 h1{
      color: rgb(179, 0, 0);
      }
      .card-info5 p{
        color: rgb(179, 0, 0);
      }
      .card-info5 a{
        color: rgba(0, 0, 0, 0.555);
      }

      .card-info6 h1{
        color: rgb(247, 169, 1);
        }
        .card-info6 p{
          color: rgb(247, 169, 1);
        }
        .card-info6 a{
          color: rgba(0, 0, 0, 0.555);
        }

.news-text h1{
  padding: 60px;
  
}
.container1 img{
width: 500px;
float: left;
position: relative;
width: 34%;
padding-bottom: 0%;
margin: 0;  
}
.container1 h1{
  text-align: center;
  margin: 0 auto;
  padding-left: 170px;
  color: #8b8180;
}
.container2 img{
width: 500px;
float: left;
position: relative;
width: 39%;
padding-bottom: 0%;
margin: 0;  
}
.container3 img{
width: 500px;
float: left;
position: relative;
width: 27%;
padding-bottom: 0%;
margin: 0;  
}
.album1-text{
margin: 50px;
width: 1500px;
}
.album1-text p{
color:#8b8180 ;
margin: 50px;
padding: 90px;
}
.container4 img{
  width: 500px;
  float: left;
  position: relative;
  width: 34%;
  padding-bottom: 0%;
  margin: 0;
  height: 433px;  
  }

.container4 h1{
  text-align: center;
  margin: 0 auto;
  padding-left: 170px;
  color: #8b8180;
}
.container5 img{
width: 500px;
float: left;
position: relative;
width: 39%;
padding-bottom: 0%;
margin: 0;  
}
.container6 img{
width: 500px;
float: left;
position: relative;
width: 27%;
padding-bottom: 0%;
margin: 0;  
}
.album2-text{
margin: 50px;
width: 1500px;
}
.album2-text p{
  color:#8b8180 ;
  margin: 50px;
  padding: 90px;
}
.container7 img{
  width: 500px;
  float: left;
  position: relative;
  width: 34%;
  padding-bottom: 0%;
  margin: 0;
  height: 433px;  
  }

.container7 h1{
  text-align: center;
  margin: 0 auto;
  padding-left: 170px;
  color: #346bae;
}
.container8 img{
width: 500px;
float: left;
position: relative;
width: 39%;
padding-bottom: 0%;
margin: 0;  
}
.container9 img{
width: 43% ;
float: left;
position: relative;
width: 27%;
padding-bottom: 0%;
margin: 0;  
height: 432px ;
}
.album3-text{
margin: 50px;
width: 1500px;
}
.album3-text p{
  color: #018329;
  margin: 50px;
  padding: 90px;
}



    
  

  
  



